.App {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-height: 400px;
    padding: 0 15px;
}

.crop__text-wrapper {
    width: 100%;
    max-height: 46px;
    position: relative;
}

.crop__label {
    display: block;
    padding: 15px;
    width: 100%;
    color: #000;
    border: 1px solid #000;
    background-color: #ffffff;
    text-align: center;
    border-radius: 10px;
}

.crop__label:hover {
    background-color: #f4f3f3;
    color: #3a3838;
}

#imageUpload {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}

.react-crop {
    margin-top: 50px;
    background-color: #ffffff;
    border: 1px solid #000;
    margin-bottom: 30px;
}

.radius-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    margin-bottom: 20px;
}

.radius-group {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.radius-checkbox {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    display: inline-block;
    position: relative;
    border-radius: 10px;
}
.radius-checkbox:hover {
    background-color: #f4f3f3;
}

.radius-checkbox:checked:after {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 4px;
    background: #000;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-shadow: 0px;
    left: 4px;
    font-size: 32px;
    border-radius: 10px;
}

.radius-value-input {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    outline: none;
    padding: 9px;
    border-radius: 10px;
}
.radius-value-input:hover:enabled {
    background-color: #f4f3f3;
}
.canvas-box {
    min-height: 150px;
    align-self: center;
}

.download-btn-box {
    align-self: center;
}

.download-btn {
    padding: 10px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    cursor: pointer;
}

.download-btn:hover {
    background-color: #f4f3f3;
    color: #3a3838;
}

.download-btn-box {
    margin-top: 20px;
}

@media (max-width: 767px) {
}
@media (max-width: 540px) {
    .radius-box {
        flex-direction: column;
        gap: 20px;
    }
    .radius-group {
        justify-content: space-between;
    }
    .radius-group:nth-child(1) {
        order: 2;
    }
    .radius-group:nth-child(2) {
        order: 1;
    }
    .radius-value-input {
        max-width: 150px;
    }
}
